<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Orange DLE</title>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="./books.component.css">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
            <app-side-bar></app-side-bar>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column content-fluid">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <app-top-nav></app-top-nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div style="height: 35rem; overflow-y: auto;">
                        <!-- Page Heading -->
                        <div style="width: 800px; margin: auto" class="mat-elevation-z8">
                            <h2>Books & Notes <button *ngIf="isChannelAdmin" mat-raised-button color="primary"
                                    (click)="FunctionPopup2()" style="float: inline-end;">
                                    Upload Pdf
                                </button></h2>
                            <table mat-table [dataSource]="dataSource">
                                <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                                <!-- Weight Column
                                <ng-container matColumnDef="code">
                                  <th mat-header-cell *matHeaderCellDef>Code</th>
                                  <td mat-cell *matCellDef="let element">{{ element.code }}</td>
                                </ng-container> -->

                                <!-- Symbol Column -->
                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef>Title</th>
                                    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
                                </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="author">
                                    <th mat-header-cell *matHeaderCellDef>Author</th>
                                    <td mat-cell *matCellDef="let element">{{ element.author }}</td>
                                </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                        <a [href]="element.path">Download</a>
                                </ng-container>
                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element">
                                        <a *ngIf="isChannelAdmin" (click)="FunctionDelete(element.Code)"
                                            style="color:rgb(100, 20, 220);">delete</a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>

                            <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[3, 5, 10, 25, 100]"
                                aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <app-footer></app-footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>