<!-- Link to Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" *ngIf="!isAdmin">

    <!-- Sidebar - Brand -->
     <div style="width: 100%; color: white;">

         <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
             <div class="sidebar-brand-icon rotate-n-15">
                 <i class="bi bi-laugh"></i>
             </div>
             <div>
                 <!-- <img src="../../assets/Icons/Tantak Logo version 2.png" height="90px" width="150px" /> -->
                  <h1>TANTAK</h1>
             </div>
         </a>
     </div>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/courses">
            <i class="bi bi-house-door"></i>
            <span>Home</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        My Details
    </div>

    <!-- Nav Item - My Account -->
    <li class="nav-item">
        <a class="nav-link" href="/account">
            <i class="bi bi-person-circle"></i>
            <span>My Account</span>
        </a>
    </li>

    <!-- Nav Item - My Courses -->
    <li class="nav-item">
        <a class="nav-link" href="/mycourses">
            <i class="bi bi-book"></i>
            <span>My Courses</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - My Profile -->
    <li class="nav-item">
        <a class="nav-link" href="/myprofile">
            <i class="bi bi-card-text"></i>
            <span>My Profile</span>
        </a>
    </li>

    <!-- <li class="nav-item">
        <a class="nav-link" href="/student/reports">
            <i class="bi bi-card-text"></i>
            <span>Reports</span>
        </a>
    </li> -->

    <!-- Nav Item - Technical Support -->
    <li class="nav-item">
        <a class="nav-link" href="/technicalsupport">
            <i class="bi bi-headset"></i>
            <span>Technical Support</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex" style="position: absolute; bottom: 0; width: 12rem;">
        <a class="text-center mb-2" href="/"
            style="font-size: small; color: azure; cursor: pointer;"><strong>Logout</strong></a>
    </div>

</ul>

<!-- Link to Bootstrap Icons CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" *ngIf="isAdmin">

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="bi bi-laugh"></i>
        </div>
        <img src="../../assets/Icons/nlcc-logo.png" height="50px" width="150px" />
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/administrator">
            <i class="bi bi-house-door"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        My Details
    </div>

    <!-- Nav Item - View Courses -->
    <li class="nav-item">
        <a class="nav-link" href="/courses">
            <i class="bi bi-book"></i>
            <span>View Courses</span>
        </a>
    </li>

    <!-- Nav Item - Course Management -->
    <li class="nav-item">
        <a class="nav-link" href="/course/management">
            <i class="bi bi-gear"></i>
            <span>Course Management</span>
        </a>
    </li>

    <!-- Nav Item - Enrollments -->
    <li class="nav-item">
        <a class="nav-link" href="/enrollments">
            <i class="bi bi-check-circle"></i>
            <span>Enrollments</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Teachers -->
    <li class="nav-item">
        <a class="nav-link" href="/teachers">
            <i class="bi bi-person-fill"></i>
            <span>Teachers</span>
        </a>
    </li>

    <!-- Nav Item - Users -->
    <li class="nav-item">
        <a class="nav-link" href="/users">
            <i class="bi bi-people"></i>
            <span>Users</span>
        </a>
    </li>

    <!-- Nav Item - Technical Support -->
    <li class="nav-item">
        <a class="nav-link" href="/technicalsupport">
            <i class="bi bi-headset"></i>
            <span>Technical Support</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex" style="position: absolute; bottom: 0; width: 12rem;">
        <a class="text-center mb-2" href="/"
            style="font-size: small; color: azure; cursor: pointer;"><strong>Logout</strong></a>
    </div>

</ul>
<!-- End of Sidebar -->

